/* zentriert alles horizontal und vertikal */
body {
    background-color: rgb(96, 96, 96);
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 152, 178);
}

#mycanvas {
    background-image: url('img/background.png');
}

/* Wrapper für Canvas + Menü -> sorgt dafür dass der menü sich in canvas befindet  */
#game-wrapper {
    position: absolute;
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* setzt menü über alle andere elementen  */
}


#main-menu {
    position: absolute;      
    top: 0;
    left: 0;
    width: 100%;             /* gleiche Breite wie Wrapper */
    height: 100%;            /* gleiche Höhe wie Wrapper */
    display: flex;
    justify-content: center; 
    align-items: center;     
    /*background-color: rgba(0,0,0,0.5);
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;*/
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 10;             /* über Canvas */
}

/* Menü Container */
#menu-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
}


#menu-container h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 60px;     /* Abstand zu Button > vertikal */
    text-align: center;
    padding: 0 20px;         /* hAbstand zu Button > Horizontal */
    text-shadow: 2px 2px 5px black;
}

#start-button {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 12px;
    background-color: #3b7f88;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}

#start-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#pauseButton {
    opacity: 0.5; 
    width: 70px;
    height: 70px;
}

#pauseButton:hover {
    opacity: 0.8;
    transition: 0.2s;
}